          <div class="canvas add-screen">
            <div class="island"></div>
            <div class="statusbar on-sky"><span>9:41</span><span class="sb-icons"><svg viewBox="0 0 18 12"><use href="#i-signal"/></svg><svg viewBox="0 0 27 13"><use href="#i-battery"/></svg></span></div>
            <div class="sky"><img class="sky-cloud c1" src="assets/art/cloud.webp" alt="" width="150" height="97"><div class="sky-edge"></div></div>
            <div class="sky-head"><p class="sky-date" data-date-long>Wednesday 7 October</p><p class="sky-title">Two things need you</p></div>
            <img class="sky-mascot" data-sky-mascot src="assets/art/mascot-working.webp" alt="" width="168" height="160">
            <div class="month"><svg style="transform:scaleX(-1)"><use href="#i-chevron"/></svg><span data-month>October</span><svg><use href="#i-chevron"/></svg></div>
            <div class="week" data-week></div>
            <div class="chips"><span class="chip on">All</span><span class="chip">Money</span><span class="chip">People</span></div>
            <div class="dim"></div>
            <div class="sheet">
              <span class="sheet-handle"></span>
              <div class="sheet-head">
                <div><p class="sheet-title">Add something</p><p class="sheet-sub">What kind of thing is it?</p></div>
                <span class="sheet-x"><svg><use href="#i-close"/></svg></span>
              </div>
              <div class="type-row" data-type-row="mine"><span class="type-disc mine"><svg><use href="#i-hand"/></svg></span><div><b>My turn</b><span>I need to do something</span></div><svg><use href="#i-chevron"/></svg></div>
              <div class="type-row" data-type-row="theirs"><span class="type-disc theirs"><svg><use href="#i-hourglass"/></svg></span><div><b>Waiting</b><span>Someone needs to respond to me</span></div><svg><use href="#i-chevron"/></svg></div>
            </div>
          </div>
